<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Actions</th> <!-- Add a column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for user in users if user.username != "admin" %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('remove_user', user_id=user.id) }}">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message[1] }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <script>
        // Function to hide flash messages after 4 seconds
        setTimeout(function() {
            var messages = document.querySelectorAll('.request-otp-button button');
            messages.forEach(function(message) {
                message.style.display = 'none';
            });
        }, 10000); // Adjust the time (in milliseconds) as needed
    </script>
</body>
</html>
